name: dotnet8 webapi.performance

on:
  push:
    paths:
      - 'src/dotnet8/WebApi.Performance/**'
  pull_request:
    paths:
      - 'src/dotnet8/WebApi.Performance/**'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write    
    steps:
      - name: Checkout the code
        uses: actions/checkout@v6
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
          
      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}   
            
      - name: Docker metadata
        id: metadata
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}/dotnet8-webapi-performance
          tags: |
            type=raw,value={{date 'YYYYMMDDHHmm'}}-{{sha}}
            type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' }}
            
      - name: Build and push docker image
        uses: docker/build-push-action@v6
        with:
          cache-from: type=gha
          cache-to: type=gha,mode=max
          file: src/dotnet8/WebApi.Performance/Dockerfile.clr
          platforms: linux/arm64, linux/amd64
          provenance: mode=max
          sbom: true
          push: true
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}
            
  dependabot:
    needs: [ build ]
    permissions: write-all
    uses: josephrodriguez/github-workflow/.github/workflows/dependabot-merge-pull-request.yaml@main
    secrets:
      AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}                 